@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-primary-foreground: #ffffff;
  --color-secondary: #10b981;
  --color-secondary-foreground: #ffffff;
  --color-background: #f8fafc;
  --color-foreground: #334155;

  --font-sans: "Inter", sans-serif;
  --font-heading: "Space Grotesk", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }
}